@* @model Notas *@

@{
    ViewData["Title"] = "Home Page";
    // Layout = "_Layout1";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Videojuegos disponibles</h2>

<div class="row">
    @foreach (var juego in Model)
    {
        <div class="col-md-4">
            <div class="card-mb-3">
                <div class="card-body">
                    <h5 class="card-title">@juego.Titulo</h5>
                    <p class="card-text">@juego.Descripcion</p>
                    <p><strong>Categoria: </strong>@juego.Categoria</p>
                    <p><strong>Precio: </strong>@juego.Precio</p>
                </div>
            </div>
        </div>
    }
</div>

@* <form asp-controller="Home" asp-action="Calcular" method="post">
    <input type="number" asp-for="n1" placeholder="Numero 1"/> <br /> <br />
    <input type="number" asp-for="n2" placeholder="Numero 2" /> <br /> <br />
    <input type="number" asp-for="n3" placeholder="Numero 3" /> <br /> <br />

    <br /> <br />
    <input type="submit" name="name" value="Calcular"/>
</form> *@

@* <h1> @Model.promedio</h1> *@
